h1 {
    font-family: 'Abril Fatface', cursive;
    color: #181818;
    text-align: center;
    font-size: 120px;
}

#pick1 {
color: blue;
}

* {box-sizing:border-box}

#searchDiv {
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: left;
  list-style-type: none;
padding: 15px;
margin-left: 30%;
width: 100%;
}

#dropDown {
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: left;
  list-style-type: none;
padding: 15px;
}

#searchSubmit {
color: white;
border-color: steelblue;
background-color: steelblue;
}

#submit {
  color: white;
  border-color: steelblue;
  background-color: steelblue;
}

body {
  width: 100%;
}

